.product-container img{
    width: 100%;
    border-radius: 30px;
}
.btn{
    width: 100%;
 font-size: 20px;
 border-radius: 20px;
 border: 2px solid orange;

 padding-top: 10px ;
 padding-bottom: 10px ;
 cursor: pointer;
 font-weight: bold;
 color: orange;
 bottom: 0; 
}
.btn:hover{
    background-color: gainsboro;
    /* box-shadow: 20px solid red; */
}
.product-container{
    background-color: gainsboro;
    /* border: 1px solid gray; */
    padding: 20px;
    border-radius: 30px;
    line-height: 15px;
}
.product-order{
    background-color: rgba(247, 192, 91, 0.811);
}